<!-- main.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h2>Welcome to the Dashboard <span id="username">{{ username }}</span>!</h2>
        <div class="button-group">
            <a href="#" class="button">Stocks</a>
            <a href="#" class="button">Order</a>
            <a href="#" class="button">Sales</a>
            <a href="#" class="button">Extra</a>
            <a href="/" class="button logout-button">Log out</a>
        </div>
    </div>
</body>
</html>
